<header>
  <%= image_tag("logo.png", :alt => "Daily Blog", :class => "round") %>
    <nav class="round">
    <ul>

      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "SQL", sql_path %></li>
      <li><%= link_to "Oracle SQL", oraclesql_path %></li>
      <li><%= link_to ".NET", dotnet_path %></li>
      <li><%= link_to "Ruby", ruby_path %></li>
      <li><%= link_to "Rails", rails_path %></li>
      <li><%= link_to "UNIX", unix_path %></li>
      <li><%= link_to "Vim", vim_path %></li>
      <li><%= link_to "Visual Studio", visualstudio_path %></li>
      <li><%= link_to "Office", office_path %></li>
      <li><%= link_to "Tips", tips_path %></li>
      <li><%= link_to "Tricks", tricks_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</header>

